.container {
  background: #88b89f;
  padding: 10px 5px;
}

.app {
    background: #88b89f;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.todo-list {
  background: #e0e0e0;
  padding: 10px;
  width: 50vh;
  border-radius: 10px;
  float: left;
  margin-right: 10px;
}

.todo-description {
  background: #e0e0e0;
  padding: 10px;
  width: 100vh;
  border-radius: 10px;
  height: 30vh;
}

.todo-description-input-box {
  height: 20vh;
  width: 100% ;
}

.todo-item {
    background: #fff;
    padding: 4px 10px;
    margin: 6px;
    border-radius: 10px;
    /* display: flex; */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.details-title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.todo-input {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  min-width: 85%;
  /* float: left; */
}

.todo-actions {
  float: right;
}